<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokedex</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngIf="pokemon">
          <ion-card-title class="ion-margin">{{ pokemon.name | uppercase }}</ion-card-title>
          <img alt="Silhouette of mountains" [src]="pokemon.image"
            style="width: 300px; height: 300px; object-fit: cover;" />
          <ion-card-content>
            <ion-item>
              <ion-label color="success">Vitoria: {{ pokemon.win }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="warning">Empate: {{ pokemon.draw }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="danger">Derrota: {{ pokemon.defeats }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
